*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 0 9.375%;
}

/* Typography */

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #00252E;
    margin-bottom: 1.25rem;

}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #00252E;
    margin-bottom: 1.25rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #00252E;
    margin-bottom: 1.25rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 400;
    color: #808D99;
}

a {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

/* Navbar */

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3.75rem 0;
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
}

.logo-header {
    width: 200px;
    height: auto;
}

/* Section: Header */

.header {
    background-color: #EBFBFF;
    background-image: url("images/bg-hero-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3.75rem;
}

/* Section: Content */

.content {
    background-color: #FFF;
    padding-top: 10rem;
}

.content-block {
    background-color: #FFF;
    padding: 8% 9.375%;
    margin-bottom: 5%;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
    box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
}

/* Section: CalltoAction */

.cta-block {
    background-color: #FFF;
    padding: 8% 9.375%;
    margin-bottom: -6.25rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
    box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
}

/* Section: Footer */

.footer {
    background-color: #00252E;
    padding-top: 13.125rem;
    padding-bottom: 5rem;
}

.footer p {
    font-size: 1rem;
    color: #FFF;
}

.footer-block {
    margin-bottom: 5%;
}

.footer-block p {
    position: relative;
    padding-left: 2.5rem;
}

.footer-block p:before {
    position: absolute;
    left: 0;
    top: 3px;
}

.footer-info p:before {
    content: url("images/icon-location.svg");
}

.footer-phone p:before {
    content: url("images/icon-phone.svg");
}

.footer-mail p:before {
    content: url("images/icon-email.svg");
}

.footer ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #FFF;
    list-style-type: none;
}

.footer a {
    color: #FFF;
}

.footer a:hover {
    color: #FF52BF;
    text-decoration: none;
}

li.footer-link {
    margin-bottom: 5%;
}

.social-links a {
    position: relative;
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #FFF;
    border-radius: 100%;
    margin-right: 1rem;
}

.social-links a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 400;
    color: #FFF;
}

/* Alignment */

.text-center {
    text-align: center;
}

.text-sm-center {
    text-align: center;
}

/* Images */

.img-fluid {
    max-width: 100%;
    height: auto;
}

.logo-header {
    max-width: 12.5rem;
    height: auto;
}

.logo-footer {
    max-width: 15rem;
    height: auto;
    margin-bottom: 10%;
}

/* Buttons */

.navbar-btn {
    display: inline-block;
    font-weight: 700;
    color: #00252E;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFF;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 99rem;
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
    box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
}

.navbar-btn:hover {
    color: #FF52BF;
    text-decoration: none;
}

.btn-dark {
    display: inline-block;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FF52BF;
    padding: 1.25rem 4.375rem;
    margin-top: 1.25rem;
    font-size: 1rem;
    border-radius: 100rem;
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
    box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
}

.btn-dark:hover {
    color: #00252E;
    text-decoration: none;
}

/* Padding */
.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5%;
}

/* Margin */
.m-sm-5 {
    margin: 5% 0;
}

.m-sm-10 {
    margin: 10% 0;
}

.mb-sm-5 {
    margin-bottom: 5%;
}

.mb-sm-10 {
    margin-bottom: 10%;
}

/* Destkop */

@media (min-width: 768px) {

    /* Section: Header */
    .header {
        background-color: #EBFBFF;
        background-image: url("images/bg-hero-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 3.75rem;
    }

    /* Alignment */
    .text-sm-center {
        text-align: start;
    }

    /* Images */
    .logo-footer {
        max-width: 15rem;
        height: auto;
        margin-bottom: 5%;
    }


    /* Buttons */
    .navbar-btn {
        display: inline-block;
        font-weight: 700;
        color: #00252E;
        text-align: center;
        text-transform: capitalize;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #FFF;
        padding: 1.25rem 4.375rem;
        font-size: 1rem;
        border-radius: 100rem;
        -webkit-box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
        box-shadow: 0 0 0.625rem rgba(0, 37, 46, 0.1);
    }

    /* Margin */
    .m-sm-5 {
        margin: 0;
    }

    .m-sm-10 {
        margin: 0;
    }

    .mb-sm-5 {
        margin-bottom: 0;
    }

    .mb-sm-10 {
        margin-bottom: 0;
    }
}